dataset_curation/*.parquet
dataset_curation/*.csv
dataset_curation/archive_data/*.parquet
dataset_curation/archive_data_2/*.parquet
dataset_curation/archive_data_3/*.parquet

inference/results/*
analysis/llm_evaluation_scores/*