.DS_Store
evaluation_platform/.vscode
evaluation_platform/Dockerfile
evaluation_platform/llm-indication-platform.tar
evaluation_platform/requirements.txt

dataset_curation/*.parquet
dataset_curation/*.csv
dataset_curation/archive_data/*.parquet
dataset_curation/archive_data_2/*.parquet
dataset_curation/archive_data_3/*.parquet

inference/results/*
analysis/archive_data/*
analysis/llm_evaluation_scores/*
analysis/*.csv
analysis/*.png
analysis/*.ttf